/*
   antbar.css
   antbar
   
   Created by Zak on 2008-06-12.
   Contributor BK
   Copyright 2008-2016 Ant.com. All rights reserved.
*/

#antToolbar {
    
}
#ant-ctoolbar-rank .toolbarbutton-text {
    display: block!important;
}

#antFlvListSplitter {
 /*   border-top:         2px solid #BBB9BA;
     border-bottom:      none;
     background:         #f3f3f3 !important;
     min-height:         3px;
     max-height:         3px;*/
}

.antFlvToolbarImgButton {
    -moz-appearance:    none;
    margin:             2px;
    border:             none;
    padding:            0 !important;
    background:         transparent !important;
}

#ant-ctoolbar-dropdown {
    list-style-image:   url("chrome://antbar/skin/favico16.png");
}

#ant-ctoolbar-dropdown[detected] {
    list-style-image:   url("chrome://antbar/skin/ctoolbar.gif");
}

.ant-download-class {
    list-style-image:   url("chrome://antbar/skin/download.png");
}
.ant-video-not-detected {
    list-style-image:   url("chrome://antbar/skin/cancel.png");
}
.ant-download-class-not-detected {
    list-style-image:   url("chrome://antbar/skin/download.png");
    color: GrayText;
    font-weight: normal;
}

.ant-download-class-downloaded {
    list-style-image:   url("chrome://antbar/skin/download.png");
    font-weight: normal;
}

.ant-download-class-detected {
    list-style-image:   url("chrome://antbar/skin/download.gif");
    font-weight: bold;
}

.ant-help-class {
    list-style-image:   url("chrome://antbar/skin/help.png");
}

#antToolBarSearchBox {
    padding:            1px;
}

#antToolBarSearchBox > .textbox-input-box {
  -moz-box-align: center;
}

#antToolBarCombinedButton {
    list-style-image:   url("chrome://antbar/skin/web.png");
}

.ant-logo-full-class {
    list-style-image:   url("chrome://antbar/skin/logo.png");
}

.ant-logo-little-class {
    list-style-image:   url("chrome://antbar/skin/favico16.png");
}

.ant-statusbar-button-class {
    -moz-appearance: none !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#antToolBarCombinedButton > .toolbarbutton-menubutton-button {
    -moz-box-orient:    horizontal;
}

#antToolBarResizeSplitter {
    -moz-appearance:    none;
    background:         url("chrome://antbar/skin/arrow.png") no-repeat center;
    width:              3px;
    min-width:          3px;
    max-width:          3px;
    margin-top:         2px;
    margin-right:       1px;
    margin-bottom:      2px;
}

.ant-player-class {
    list-style-image:   url("chrome://antbar/skin/video.png");
}

.ant-explore-class {
    list-style-image:   url("chrome://antbar/skin/folder_explore.png");
}

#ant-ctoolbar-rank {
    list-style-image:   url("chrome://antbar/skin/rank.png");
}

.ant-rank-class {
    list-style-image:   url("chrome://antbar/skin/rank.png");
}

.ant-settings-class {
    list-style-image:   url("chrome://antbar/skin/preference.png");
}

.antSitesDeleteButton {
    -moz-appearance:    none;
    margin:             2px;
    border:             none;
    padding:            0 !important;
    background:         transparent !important;
    width:              16px;
    list-style-image:   url("chrome://antbar/skin/ui/cross.png");
}

.ant-about-icon {
    list-style-image: url("chrome://antbar/skin/get_info.png");
}

.bold { /* for titles */
font-weight:bold;
margin:10px 0;
}

.italic {
    font-style: italic;
    margin:10px 0;
}
